.container{
    display: flex;
    flex-direction: column;
}

.left_portion{
    display: flex;
    width:100%;
    background:#ece6e0;
    padding:20px;
    align-items: center;
    justify-content: center;
}

.right_portion{
    width:100%;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
  /* justify-content: center; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}





.custom-select select {
    border:none;
   
}

.custom-select{
    border: 1px solid black;
    padding:5px 5x;
    margin:20px;
    position:relative;

}

.mask {
    position: absolute;
    bottom:-1px;
    right:3px;
    height:1px;
    width:45%;
    background-color: white;

}

textarea{
    border:none
}

.textContainer{
    position:relative;
    border:1px solid black;
    margin-bottom:20px
}

.textTitle{
    border-right:1px solid black;
    padding-left:10px;
    padding-right:10px;
    background:black;
    color:white;

}


.dragAccept{
    border:1px solid green;
    background-color: rgba(115, 165, 115, 0.7);
}

.dragReject{
    background-color: rgba(230, 166, 188, 0.7);

}

.dropzone {
    text-align: center;
    padding: 20px;
    border: 3px dashed #000 !important;
    border-radius: 15px;
    background-color: #fafafa;
    color: #bdbdbd;
  
    margin-bottom: 20px;
  }